body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #f6f3e9;
}

.logo {
    width: 80px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #444;
    font-weight: bold;
    position: relative;
    transition: 0.3s ease, color 0.3s ease;
}


nav a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #029739;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.3s ease;
}

nav a:hover {
    color: #029739;
    transform: scale(0.92);
}

nav a:hover::after {
    width: 100%;
}


/* Hero */
.hero {
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)),
                url('../images/logo.png') no-repeat center center;
    background-size: cover;
    padding: 120px 20px;
    color: white;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    background: #000000;
    color: #e0dbdb;
    border-radius: 5px;
    text-decoration: none;
}

/* Sections */
.about, .products, .contact {
    padding: 60px 40px;
}

.about h2, .products h2, .contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Products */
.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {
    width: 300px;
    background: #fafafa;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 170px;             
    object-fit: cover;  
    border-radius: 10px;
    display: block;
    margin-bottom: 15px;
}


/* Contact */
.contact {
    text-align: center;
}

.btn {
    background:  #029739;
    padding: 12px 20px;
    text-decoration: none;
    color: #f7f4f4;
    border-radius: 5px;
}

.btn:hover {
    background: #25D366;
    color: #333;
}
/* Footer */
footer {
    text-align: center;
    background: #000000;
    color: #f7f4f4;
    padding: 15px;
    margin-top: 30px;
}
